*{
    background-color: #C0A9BD;
    font-size: 16px;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #94A7AE;
    width: 100%;
} 

ul li{
    background-color: #64766A;
}

nav ul{
    width: 100%;
    background-color: #94A7AE;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.haschildren{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64766A ;
    width: 8em;
    height: 8em;
    position: relative;
}

.haschildren:hover{
    background-color: #F4F2F3;
}

.haschildren:hover > .under-menu{
    display: flex;
    flex-direction: column;
    justify-content: stretch;   
}

.under-menu{
    display: none; 
    flex-flow: column wrap;
    min-width: 100px;
    position: absolute;
    background-color: #64766A;
    top: 8em;
    height: auto;
    width: 8em;
    z-index : 1000
}

.content{
    border:solid black 1px;
    text-align: center;
    height: 5em;
    background-color: #64766A;
}

.content a{
    color: white;
    background-color: #64766A;
    text-decoration: none;
    line-height: 5em;
}

.content:hover, .content:hover a, a:hover{
    font-style: oblique;
    color: black;
    background-color: #F4F2F3;
}

h1{
    background-color: lightsalmon;
    color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    font-size: 21px;
    border: 1rem solid; 
    width: 10em;
    border-radius: 25%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

img:hover{
    opacity: 0.3;
}

img{
    border-radius: 3px;
    width: 10em;
    heighT: 10em;
}

.whoin img{
    width: 15em;
    height: 15em;
}

.whoin{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.whoin img:first-child{
    filter: grayscale(100%);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

figure{
    text-align: center;
}

.date h3{
    align-self:self-start

}
.article{
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.infos{
    justify-content: space-between;
    line-height: 2em;
}

h3{
text-align: right;
font-size: 18px;
font-weight: bold;
}

.separate{
    margin-bottom: 5%;
}
.flow{
    height: 15em;
    overflow: auto;
}

.contact{
   align-self:stretch;
}

textarea{
    width: 100%;
    height: 10em;
}

.submit{
    align-self: flex-end;
}

button:last-child{
    background-color: #94A7AE;
    color: white;
}

button:hover{
    background-color: #F4F2F3;
    color: black;
}

h2{
    text-decoration: underline double orange;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    clear: both;
    text-align: center;  
    margin-top: 5%;
    margin-bottom: 3em;
    font-size: 20px;
    font-weight: bold;
}

h3{
    text-decoration: underline;
    font-size: 15px; 
    clear: both;
}

footer{
    display: flex;
    align-items: center;
    background-color: #64766A;
    color: white;
}

footer li, footer a, footer ul{
    color: white;
    background-color: #64766A;
    text-decoration: none;
    justify-content: center;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

button{
    margin-left: auto;
    margin-right: auto;
    height: 3em;
}

.large{
    width: 80%;
}

input{
    height: 2em;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    *{
    background-color: #FFBB98;
    font-size: 20px;
    }

    nav{
        background-color: #344648;
    }

    .haschildren, .content, .content a, .under-menu, button:last-child{
        background-color: #7D8E95;
    }

    .content:hover, .content:hover a, a:hover, .haschildren:hover, button:hover{
        background-color: #FBE0C3;
    }
    

    footer, footer li, footer a, footer ul{
        color: white;
        background-color: #344648;
    }

    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .article{
        flex-direction: column;
        width: 45%;
        flex-wrap: wrap;
    }

    .flow{
        height: 10em;
    }

    .infos{
        align-items: center;
        width: 100%;
    }

    .infos img{
        float: left;
        height: 20em;
        width: 20em;
    }

    .infos div{
        display: flex;
        align-items: space-evenly;
    }

    .infos div p{
        width: 6em;
        text-align: center;
    }

    .wrap h3{
        text-align: center;

        
    }

}


/* Desktop Styles */
@media only screen and (min-width: 961px){
    *{
    background-color: #E59A59;
    font-size: 23px; 
    }

    h1{
        margin-top: 5em;
        margin-bottom: 5em;
    }

    
    .flow{
        height: 10em;
        width: 80%;
    }

    .whoin{
        height: 25em;
    }

    .whoin img{
        width: 24em;
        height: 24em ;
    }

    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .article{
        flex-direction: column;
        width: 45%;
        flex-wrap: wrap;
    }

    .img{
        width: 75%;
        height: 50%;
        float: right;
    }



    .infos{
        align-items: center;
        width: 100%;
    }

    .infos img{
        float: left;
        height: 20em;
        width: 20em;
    }

    .infos div{
        display: flex;
        align-items: space-evenly;
    }

    .infos div p{
        width: 6em;
        text-align: center;
    }

    .wrap h3{
        text-align: center;
    }

    
    h3{
        width: 5em;
    }
    nav{
        background-color: #712E1E;
    }

    .haschildren, .content, .content a, .under-menu, button:last-child{
        background-color: #888870;
    }

    .content:hover, .content:hover a, a:hover, .haschildren:hover, button:hover{
        background-color: #FFD5AF;
    }
    

    footer, footer li, footer a, footer ul{
        color: white;
        background-color: #712E1E;
    }

}